.monserratRegular{
    font-family: 'Montserrat', sans-serif;
}

.monserratBold{
    font-family: 'Montserrat', sans-serif;
    font-weight:700;
}

.openSans{
    font-family: 'Open Sans', sans-serif;
}